div{ display: flex}

@media (min-width: 768px) {
  .main  {
    width: 750px;
  }
}
@media (min-width: 1200px){
  .main {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .main  {
    width: 970px;
  }
}
  .main  {
    flex-direction: column;
    padding: 15px 15px 15px 30px;
  margin-right: auto;
  margin-left: auto;
    background-color: #61a1bc;
    border-radius: 2px;
}
.main h1{
  color: #fff;
  font-size: 30px;
  font-family: 'Century gothic', cursive;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 3px 0 rgb(0 0 0 / 10%);
}
.buttons {
  flex-direction: column;
  margin-top:auto;
  margin-bottom: auto;
}
.buttons button{
  color: #fff;
  width: 70px;
  margin: 12px 6px;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.main .content{
  display: flex;
  width: 100%;
}
.main .content label{
  width: 100%;
  font-weight: 700;
}
.main .content label select{
  width: 100%;
}
.next{
  width: 98%;
  display: inline-block;
  text-align: right;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
